html, body, h1, h2, h3, p, ol, ul, li, a {
            padding:0;
            border:0;
            margin:0;
        }
        body {
            padding: 20px 20px 20px 20px;
        }        
		a {
			text-decoration: none;		}
		a:hover {
			color:deeppink;		}
        ul {
            padding: 0 0 0 50px;
            }
        ol {
            padding: 0 0 0 50px;
            }
        h1 {
            color:lightseagreen;
            margin: 10px 0 15px 0;
        }    
        h2 {
            padding: 6px 3px 0 0;
            margin: 10px 0 20px 0; 
            color:lightseagreen;
        }
        h3 {
            color:lightseagreen;
            margin: 15px 0 15px 0;
            border-bottom: 1px solid #CCCCCC;
            padding-bottom: 3px;
        }
        .nav {
            padding-left: 0;
        }
        .nav a {
            color:#0000af;
            text-decoration:none;
        }
        .nav li {
            display: inline;
        }