html, body, h1, h2, h3, p, ol, ul, li, a {
            padding:0;
            border:0;
            margin:0;
        }
        body {
            padding: 20px 20px 20px 20px;
            background-color: #5f5f5f;
            background: #5f5f5f url(images/background.png) top left repeat;
            font-family: Helvetica, Arial, sans-serif;
        }
        .header {
            padding: 10px 10px 10px 10px;
            background-color: #b56663;
        }      
        .header img {
            display: block;
            margin: 0 auto 0 auto;
        }
       .main-content {
            padding: 20px 20px 20px 20px;
            border: 1px solid #dddddd;
            margin: 30px auto 0 auto;
            width: 800px; 
            background: #5f5f5f url(images/main-content-bg.jpg) top left repeat;           
        }
        .photos {
                list-style-type: none;
                padding: 0;                 
        }
        .photos li {
            display: inline;
            *padding-left: 11px;
            
        }
		ul {
            padding: 0 0 0 50px;
            }
        ol {
            padding: 0 0 0 50px;
            }
        h1 {
            color: #ffffff;
            margin: 10px 0 15px 0;
            text-align: center;
        }    
        h2 {
            padding: 6px 3px 0 0;
            margin: 10px 0 20px 0; 
            color:lightseagreen;
            text-align: center;
        }
        
        .nav {
            padding-left: 0;
            margin: 5px 0 20px 0;
            text-align: center;
        }
        
        .nav li {
            display: inline;
        }
        .recipes li {
            border: 1px solid #b56663;
            padding-left: 15px;
            margin-bottom: 15px;
            background: #5f5f5f url(images/recipes-list-bg.jpg) top left repeat;     
        }
        .recipes {
            list-style-type: none;
            padding: 0;
        }
        h3 {
            color:lightseagreen;
            margin: 15px 0 15px 0;
            border-bottom: 1px solid #CCCCCC;
            padding-bottom: 3px;
        }
        .recipes h3 {
            border-bottom: 0;
        }
       
        a {
			text-decoration: none;		}
		a:hover {
			color:deeppink;		}
        .nav a {
            color:#0000af;
            text-decoration:none;        }
        .header a {
            color: #ffffff;     }  
        .recipes a {
            color: #7facaa;
            text-decoration: none; }
        .featured-image {
            width: 602px;
            height: 338px;
            background: #ffffff url(images/recipes.jpg) top left no-repeat;
        }
        .featured-image h3 {
            margin: 0;
            background-color: #333333;
            color: #ffffff;
            padding: 5px 0 5px 15;
            text-transform: uppercase;

        }
        .recipes img {
            float: left;
            padding-right: 10px;
            width: 75px;
            height: 75px;            
        }
        label,input {
            display: block;
        }
                   